*{
    box-sizing: border-box;
    padding: o;
    margin: 0;
    font-family: "Poppins";
}

body{
    min-height: 100vh;
    background-size: cover;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: black;
}

.logo{
    width: 140px;
    cursor: pointer;
    margin: 30px 0 10px 30px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav ul li a:hover{
    color: gold;
}

.main-1{
    position: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.main-1 h1{
    font-size: 200px;
    color: white;
    font-weight: 700;
    position: center;
}

.main-1 h2{
    font-size: 190px;
    color: gold;
    font-weight: 700;
    margin: 20px 0 10px;
}

.main-1 h3{
    font-size: 100px;
    color: gold;
    font-weight: 700;
    position: center;
}

.main-1 h1:hover{
    -webkit-text-stroke: 3px white;
    color: transparent;
    transition: 0.3;
}

.main-1 h2:hover{
    -webkit-text-stroke: 3px gold;
    color: transparent;
    transition: 0.3;
}

.main-1 h3:hover{
    -webkit-text-stroke: 3px gold;
    color: transparent;
    transition: 0.3;
}

.banner-text h4:hover{
    -webkit-text-stroke: 3px white;
    color: transparent;
    transition: 0.3;
}

.banner-text h5:hover{
    -webkit-text-stroke: 3px gold;
    color: transparent;
    transition: 0.3;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
    margin-bottom: 5px;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

h3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 5px;
}

.banner-text{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.banner-text h4{
    font-size: 2rem;
    color: white;
    font-weight: 700;
   margin: 0;
}

.banner-text h5{
    font-size: 2rem;
    color: gold;
    font-weight: 700;
    margin: 20px 0 10px;
}

h5{
    font-family: bignoodletitling;
    margin: 0;
}

h5:before{
    content: "In Success"; 
    font-size: 100%;
    animation: animate 60s infinite;
}

@keyframes animate{
    0%{
        font-size: 100%;
        opacity: 1;
    }

    5%{
        font-size: 90%;
        opacity: 0;
    }

    10%{
        font-size: 100%;
        opacity: 1;
        content: "Victorious";
    }

    15%{
        font-size: 90%;
        opacity: 0;
    }

    20%{
        font-size: 100%;
        opacity: 1;
        content: "Visualizing";
    }

    25%{
        font-size: 90%;
        opacity: 0;
    }

    30%{
        font-size: 100%;
        opacity: 1;
        content: "In Pain";
    }

    35%{
        font-size: 90%;
        opacity: 0;
    }

    40%{
        font-size: 100%;
        opacity: 1;
        content: "Stronger";
    }

    45%{
        font-size: 90%;
        opacity: 0;
    }

    50%{
        font-size: 100%;
        opacity: 1;
        content: "In Business";
    }

    55%{
        font-size: 90%;
        opacity: 0;
    }

    60%{
        font-size: 100%;
        opacity: 1;
        content: "Tireless";
    }

    65%{
        font-size: 90%;
        opacity: 0;
    }

    70%{
        font-size: 100%;
        opacity: 1;
        content: "Believing";
    }

    75%{
        font-size: 90%;
        opacity: 0;
    }

    80%{
        font-size: 90%;
        opacity: 1;
        content: "Growing";
    }

    85%{
        font-size: 90%;
        opacity: 0;
    }

    90%{
        font-size: 90%;
        opacity: 1;
        content: "Having FUN";
    }

    95%{
        font-size: 90%;
        opacity: 0;
    }

    97.5%{
        font-size: 100%;
        opacity: 1;
        content: "To The End";
    }

    100%{
        font-size: 100%;
        opacity: 1;
        content: "To The End";
    }
}

.sticky-footer{
    position: sticky;
    top: 100%;
}

.footer{
    width: 100%;
    margin-top: auto;
    padding: 50px 0 0 0;
    background-color: black;
}

.social-links img{
    height: 15px;
    margin: 1px;
}

.social-links {
    text-align: center;
    background-color: black;
    margin-bottom: 30px;
}


@media only screen and (max-width:365px) {
    nav ul {
        width: 100%;
        background: linear-gradient(gold, orange);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: white
    }

    nav ul li a:hover{
        color: black;
    }

    #menuList{
        overflow: hidden;
        transition: 0.3s;
    }

    h1{
        font-size: 10%;
    }
    
    h2{
        flex-basis: 10%;
    }

    h3{
        flex-basis: 10%;
    }

    h4{
        flex-basis: 10%;
    }

    h5{
        flex-basis: 10%;
    }

    .main-1{
        margin-top: 60%;
        position: auto;
        align-items: center;
        justify-content: center;
    }

    .main-1 h1{
        font-size: 2rem;
    }
    
    .main-1 h2{
        font-size: 2rem;
    }

    .main-1 h3{
        font-size: 1.5rem;
    }

    .banner-text h4{
        font-size: 2rem;
    }

    .banner-text h5{
        font-size: 1.8rem;
    }

}

/* || Small */
@media screen and (min-width: 366px) and (max-width: 576px) {
    nav ul {
        width: 100%;
        background: linear-gradient(gold, orange);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: white
    }

    nav ul li a:hover{
        color: black;
    }

    #menuList{
        overflow: hidden;
        transition: 0.3s;
    }

    h1{
        font-size: 10%;
    }
    
    h2{
        flex-basis: 10%;
    }

    h3{
        flex-basis: 10%;
    }

    h4{
        flex-basis: 10%;
    }

    h5{
        flex-basis: 10%;
    }

    .main-1{
        margin-top: 30%;
        position: auto;
        align-items: center;
        justify-content: center;
    }

    .main-1 h1{
        font-size: 3rem;
    }
    
    .main-1 h2{
        font-size: 3rem;
    }

    .main-1 h3{
        font-size: 1.9rem;
    }

    .banner-text h4{
        font-size: 3rem;
    }

    .banner-text h5{
        font-size: 2.6rem;
    }
}
    
    /* || Medium */
 @media screen and (min-width: 577px) and (max-width: 768px) {
    nav ul {
        width: 100%;
        background: linear-gradient(gold, orange);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: white
    }

    nav ul li a:hover{
        color: black;
    }

    #menuList{
        overflow: hidden;
        transition: 0.3s;
    }

    h1{
        font-size: 10%;
    }
    
    h2{
        flex-basis: 10%;
    }

    h3{
        flex-basis: 10%;
    }

    h4{
        flex-basis: 10%;
    }

    h5{
        flex-basis: 10%;
    }

    .main-1{
        margin-top: 35%;
        position: auto;
        align-items: center;
        justify-content: center;
    }

    .main-1 h3{
        position: auto;
        text-align: center;
        justify-content: center;
    }

    .main-1 h1{
        font-size: 5rem;
    }
    
    .main-1 h2{
        font-size: 5rem;
    }

    .main-1 h3{
        font-size: 3rem;
    }

    .banner-text h4{
        font-size: 5rem;
    }

    .banner-text h5{
        font-size: 3.9rem;
    }
         
}
    
        /* || Large */
  @media screen and (min-width: 769px) and (max-width: 992px) {

    #menuList{
        overflow: hidden;
        transition: 0.3s;
    }

    h1{
        font-size: 10%;
    }
    
    h2{
        flex-basis: 10%;
    }

    h3{
        flex-basis: 10%;
    }

    h4{
        flex-basis: 10%;
    }

    h5{
        flex-basis: 10%;
    }

    .main-1{
        position: auto;
        align-items: center;
        justify-content: center;
    }

    .main-1 h3{
        position: auto;
        text-align: center;
        justify-content: center;
    }

    .main-1 h1{
        font-size: 7rem;
    }
    
    .main-1 h2{
        font-size: 7rem;
    }

    .main-1 h3{
        font-size: 4.2rem;
    }

    .banner-text h4{
        font-size: 7rem;
    }

    .banner-text h5{
        font-size: 4.7rem;
    }
        
  }
    
          /* || xtra Large */
 @media screen and (min-width: 993px) and (max-width: 1199px) {

    #menuList{
        overflow: hidden;
        transition: 0.3s;
    }

    h1{
        font-size: 10%;
    }
    
    h2{
        flex-basis: 10%;
    }

    h3{
        flex-basis: 10%;
    }

    h4{
        flex-basis: 10%;
    }

    h5{
        flex-basis: 10%;
    }

    .main-1{
        margin-top: 10%;
        display: absolute;
        position: auto;
        justify-content: unset;
    }

    .main-1 h3{
        position: auto;
        text-align: center;
        justify-content: center;
    }

    .main-1 h1{
        font-size: 9rem;
    }
    
    .main-1 h2{
        font-size: 9rem;
    }

    .main-1 h3{
        font-size: 5.6rem;
    }

    .banner-text h4{
        font-size: 9rem;
    }

    .banner-text h5{
        font-size: 6.6rem;
    }
        
}
 
          /* || XXL */
@media screen and (min-width: 1200px) {
        
            #menuList{
                overflow: hidden;
                transition: 0.3s;
            }
        
            h1{
                font-size: 10%;
            }
            
            h2{
                flex-basis: 10%;
            }
        
            h3{
                flex-basis: 10%;
            }
        
            h4{
                flex-basis: 10%;
            }
        
            h5{
                flex-basis: 10%;
            }
        
            .main-1{
                margin-top: 10%;
                position: auto;
            }

            .main-1 h3{
                position: auto;
                text-align: center;
                justify-content: center;
            }
        
            .main-1 h1{
                font-size: 9rem;
            }
            
            .main-1 h2{
                font-size: 9rem;
            }
        
            .main-1 h3{
                font-size: 6.5rem;
            }
        
            .banner-text h4{
                font-size: 9rem;
            }
        
            .banner-text h5{
                font-size: 6.6rem;
            }
}

             /* || MOBIL DEVICE LANDSCAPE */
/*@media screen and (max-height: 558px) and (min-aspect-ratio: 16/9) {
        .menu-icon{
        display: block;
    }

    #menuList{
        overflow: hidden;
        transition: 0.3s;
    }

    h1{
        font-size: 10%;
    }
    
    h2{
        flex-basis: 10%;
    }

    h3{
        flex-basis: 10%;
    }

    h4{
        flex-basis: 10%;
    }

    h5{
        flex-basis: 10%;
    }

    .main-1{
        margin-top: 10%;
        position: auto;
    }

    .main-1 h1{
        font-size: 3rem;
    }
    
    .main-1 h2{
        font-size: 3rem;
    }

    .main-1 h3{
        font-size: 2.4rem;
    }

    .banner-text h4{
        font-size: 3rem;
    }

    .banner-text h5{
        font-size: 2.2rem;
    }
} */
        